body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  background-image: url("../asset/Drones\ 1600x800.webp");
  background-size: cover;
}

form {
  /* background-color: #aaaaaa; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  opacity: 10;
  padding: 10px;
}

button {
  height: 40px;
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.white {
  color: white;
}

p {
  font-size: 20px;
}

svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#result {
  position: relative;
}
